rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function listaAutorizada() {
      return [
        'tiagomfmiguel@gmail.com'
        // Adicionar outros emails autorizados aqui.
      ];
    }

    function temAcessoTotal() {
      // A expressão de retorno completa foi ajustada
      return request.auth != null && 
             (listaAutorizada().includes(request.auth.token.email)); 
    }

    // Aplicação da regra monolítica (Tudo ou Nada)
    match /{document=**} {
      allow read, write: if temAcessoTotal();
    }
  }
}
